/* ------------------------------------------------------------------
Address
-------------------------------------------------------------------*/
.filesystem-browser-address {
  width: 100%;
  height: 24px;
  display: flex;
  flex-direction: row;
}
/* ------------------------------------------------------------------
Navigation
-------------------------------------------------------------------*/
.filesystem-browser-address-navigation {
  height: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
}
.filesystem-browser-address-navigation span {
  display: inline-block;
  line-height: 24px;
  text-align: center;
  min-width: calc(64px - 16px);
  padding-left: 8px;
  padding-right: 8px;
  height: 24px;
  background: #111;
}
.filesystem-browser-address-navigation span:hover {
  cursor: pointer;
  background: #222;
}

/* ------------------------------------------------------------------
Navigation
-------------------------------------------------------------------*/
.filesystem-browser-address-create-directory {
  display: inline-block;
}
.filesystem-browser-address-create-directory input {
  height: 24px;
  border: none;
  outline: none;
  padding: 0;
  padding-left: 8px;
  padding-right: 8px;
  margin: 0;
}
