.filesystem-browser-content-directory {
  width: 100%;
  height: 100%;
}
.filesystem-browser-content-directory .directory {
  height: 24px;
  line-height: 24px;
}
.filesystem-browser-content-directory .directory:hover {
  background-color: red;
  cursor: pointer;
}
.filesystem-browser-content-directory .file {
  height: 24px;
  line-height: 24px;
}
.filesystem-browser-content-directory .file:hover {
  background-color: red;
  cursor: pointer;
}
